@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");

#sidebar-no-header-title {
  padding: 10px;
  position: relative;
}

.header-side {
  background-color: #191b28;
  width: 620px;
  height: 60.08px;
}

#sidebar-no-header {
  width: 620px;
}

#header-side-title {
  position: relative;
  width: 131px;
  height: 20px;
  left: 34px;
  top: 20.06px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #ffffff;
}

#x-side {
  position: relative;
  width: 15px;
  height: 15px;
  left: 550px;
  top: -12px;
  cursor: pointer;
}

.titulo_link {
  position: relative;
  width: 94px;
  height: 16px;
  left: 0px;
  top: 20px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #333333;
}

.link_legal {
  position: relative;
  width: 250px;
  height: 26px;
  left: 0px;
  top: 30px;
  border: none;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #81858e;
}
.link_default {
  position: relative;
  width: 250px;
  height: 26px;
  left: 0px;
  top: 0px;
  border: none;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #81858e;
}

.url_original {
  position: relative;
  width: 91px;
  height: 17px;
  left: 0px;
  top: 40px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #2133d2;
}

.texto-informativo {
  position: relative;
  width: 550px;
  height: 36px;
  left: 0px;
  top: 40px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #81858e;
}

.links_crud {
  position: relative;
  width: 550px;
  height: 16px;
  left: 0px;
  top: 60px;
}

.id_link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #000000;
}

.url_link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #81858e;
}

.max_click_link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #81858e;
}
.btn-delete {
  font-weight: 600;
  color: red;
  background: transparent;
  border: 1px solid red;
  border-radius: 5px;
  padding: 2px 15px;
  cursor: pointer;
  position: relative;
  top: 40px;
}

.botao_adicionar {
  box-sizing: border-box;
  position: relative;
  width: 184.84px;
  height: 35px;

  font-weight: 600;
  color: #2133d2;
  background-color: #fff;
  border: 1px solid #2133d2;
  border-radius: 5px;
  padding: 6px 20px;
  cursor: pointer;
}

.url_default {
  position: relative;
  width: 90px;
  top: 0px;
  height: 17px;
  left: 0px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #2133d2;
}

.texto_default {
  position: relative;
  width: 490px;
  height: 36px;
  top: 0px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #81858e;
}

.add_url {
  position: absolute;
  width: 356px;
  height: 16px;
  left: 34px;
  top: 490px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding: 20px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #81858e;
  border: none;
}

#cadastrando_links {
  position: relative;
  top: 20px;
}

.salvar_link {
  position: relative;
  width: 356px;
  height: 16px;
  top: -30px;
  display: flex;
  gap: 10px;
}

.salvar_link input {
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

#input_id {
  width: 65px;
}

#input_url {
  width: 300px;
}

#input_max_click {
  width: 50px;
}

#input_click {
  width: 50px;
}

.adicionar_elementos {
  position: relative;
  top: 250px;
  display: flex;
}

#input_url {
  position: relative;
  width: 356px;
}
.cada-link{
  border-bottom: 1px solid grey;
  width: 300px;
}
.cada-totalclick{
  border-bottom: 1px solid grey;
  width: 50px;
}

#modal-scoped___BV_modal_content_{
  height: 90vh !important;
}